// $width-950: 950px;

$primary: #003466;
$secondary: #5090cd;
$tertiary: #3a362a;

// font size
$p-font-size-13: 13px;

$h1-font-size-72: 72px;

//weight
$p-weight-medium: 500;

$h1-weight-bold: 700;

$h3-weight-semiBold: 600;
